<apex:page controller="CustomerOrderInfoCtrl" sidebar="false" showHeader="false" id="pageId">
  <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	
        <!-- <apex:stylesheet value="{!URLFOR($Resource.SLDS0121, 'assets/styles/salesforce-lightning-design-system-vf.css')}" /> -->

        <head>
            <apex:slds />
            <style>

              body {
                  padding-top: 30px;
                  background-color: white; /* 60px to make the container go all the way to the bottom of the topbar */
              }
              .content {
                width: 1400px;
                margin: 0 auto;
              }
              ol.progtrckr {
    margin: 0;
    padding: 0;
    list-style-type none;
}

ol.progtrckr li {
    display: inline-block;
    text-align: center;
    line-height: 3.5em;
}

ol.progtrckr[data-progtrckr-steps="2"] li { width: 49%; }
ol.progtrckr[data-progtrckr-steps="3"] li { width: 33%; }
ol.progtrckr[data-progtrckr-steps="4"] li { width: 24%; }
ol.progtrckr[data-progtrckr-steps="5"] li { width: 19%; }
ol.progtrckr[data-progtrckr-steps="6"] li { width: 16%; }
ol.progtrckr[data-progtrckr-steps="7"] li { width: 14%; }
ol.progtrckr[data-progtrckr-steps="8"] li { width: 12%; }
ol.progtrckr[data-progtrckr-steps="9"] li { width: 11%; }

ol.progtrckr li.progtrckr-done {
    color: black;
    border-bottom: 4px solid yellowgreen;
}
ol.progtrckr li.progtrckr-todo {
    color: silver; 
    border-bottom: 4px solid silver;
}

ol.progtrckr li:after {
    content: "\00a0\00a0";
}
ol.progtrckr li:before {
    position: relative;
    bottom: -2.5em;
    float: left;
    left: 50%;
    line-height: 1em;
}
ol.progtrckr li.progtrckr-done:before {
    content: "\2713";
    color: white;
    background-color: yellowgreen;
    height: 2.2em;
    width: 2.2em;
    line-height: 2.2em;
    border: none;
    border-radius: 2.2em;
}
ol.progtrckr li.progtrckr-todo:before {
    content: "\039F";
    color: silver;
    background-color: white;
    font-size: 2.2em;
    bottom: -1.2em;
}

              .uil-spin-css {
                background: none;
                position: relative;
                width: 80px;
                height: 80px;
              }
              @-webkit-keyframes uil-spin-css {
                0% {
                  opacity: 1;
                  -webkit-transform: scale(1.5);
                  transform: scale(1.5);
                }
                100% {
                  opacity: 0.1;
                  -webkit-transform: scale(1);
                  transform: scale(1);
                }
              }
              @-moz-keyframes uil-spin-css {
                0% {
                  opacity: 1;
                  -webkit-transform: scale(1.5);
                  transform: scale(1.5);
                }
                100% {
                  opacity: 0.1;
                  -webkit-transform: scale(1);
                  transform: scale(1);
                }
              }
              @-webkit-keyframes uil-spin-css {
                0% {
                  opacity: 1;
                  -webkit-transform: scale(1.5);
                  transform: scale(1.5);
                }
                100% {
                  opacity: 0.1;
                  -webkit-transform: scale(1);
                  transform: scale(1);
                }
              }
              @-o-keyframes uil-spin-css {
                0% {
                  opacity: 1;
                  -webkit-transform: scale(1.5);
                  transform: scale(1.5);
                }
                100% {
                  opacity: 0.1;
                  -webkit-transform: scale(1);
                  transform: scale(1);
                }
              }
              @keyframes uil-spin-css {
                0% {
                  opacity: 1;
                  -webkit-transform: scale(1.5);
                  transform: scale(1.5);
                }
                100% {
                  opacity: 0.1;
                  -webkit-transform: scale(1);
                  transform: scale(1);
                }
              }
              .uil-spin-css > div {
                width: 10px;
                height: 10px;
                margin-left: 4px;
                margin-top: 4px;
                position: absolute;
              }
              .uil-spin-css > div > div {
                width: 100%;
                height: 100%;
                border-radius: 50px;
                background: #000;
              }
              .uil-spin-css > div:nth-of-type(1) > div {
                -webkit-animation: uil-spin-css 1s linear infinite;
                animation: uil-spin-css 1s linear infinite;
                -webkit-animation-delay: -0.87s;
                animation-delay: -0.87s;
              }
              .uil-spin-css > div:nth-of-type(1) {
                -webkit-transform: translate(84px, 84px) rotate(45deg) translate(70px, 0);
                transform: translate(84px, 84px) rotate(45deg) translate(70px, 0);
              }
              .uil-spin-css > div:nth-of-type(2) > div {
                -webkit-animation: uil-spin-css 1s linear infinite;
                animation: uil-spin-css 1s linear infinite;
                -webkit-animation-delay: -0.75s;
                animation-delay: -0.75s;
              }
              .uil-spin-css > div:nth-of-type(2) {
                -webkit-transform: translate(84px, 84px) rotate(90deg) translate(70px, 0);
                transform: translate(84px, 84px) rotate(90deg) translate(70px, 0);
              }
              .uil-spin-css > div:nth-of-type(3) > div {
                -webkit-animation: uil-spin-css 1s linear infinite;
                animation: uil-spin-css 1s linear infinite;
                -webkit-animation-delay: -0.62s;
                animation-delay: -0.62s;
              }
              .uil-spin-css > div:nth-of-type(3) {
                -webkit-transform: translate(84px, 84px) rotate(135deg) translate(70px, 0);
                transform: translate(84px, 84px) rotate(135deg) translate(70px, 0);
              }
              .uil-spin-css > div:nth-of-type(4) > div {
                -webkit-animation: uil-spin-css 1s linear infinite;
                animation: uil-spin-css 1s linear infinite;
                -webkit-animation-delay: -0.5s;
                animation-delay: -0.5s;
              }
              .uil-spin-css > div:nth-of-type(4) {
                -webkit-transform: translate(84px, 84px) rotate(180deg) translate(70px, 0);
                transform: translate(84px, 84px) rotate(180deg) translate(70px, 0);
              }
              .uil-spin-css > div:nth-of-type(5) > div {
                -webkit-animation: uil-spin-css 1s linear infinite;
                animation: uil-spin-css 1s linear infinite;
                -webkit-animation-delay: -0.37s;
                animation-delay: -0.37s;
              }
              .uil-spin-css > div:nth-of-type(5) {
                -webkit-transform: translate(84px, 84px) rotate(225deg) translate(70px, 0);
                transform: translate(84px, 84px) rotate(225deg) translate(70px, 0);
              }
              .uil-spin-css > div:nth-of-type(6) > div {
                -webkit-animation: uil-spin-css 1s linear infinite;
                animation: uil-spin-css 1s linear infinite;
                -webkit-animation-delay: -0.25s;
                animation-delay: -0.25s;
              }
              .uil-spin-css > div:nth-of-type(6) {
                -webkit-transform: translate(84px, 84px) rotate(270deg) translate(70px, 0);
                transform: translate(84px, 84px) rotate(270deg) translate(70px, 0);
              }
              .uil-spin-css > div:nth-of-type(7) > div {
                -webkit-animation: uil-spin-css 1s linear infinite;
                animation: uil-spin-css 1s linear infinite;
                -webkit-animation-delay: -0.12s;
                animation-delay: -0.12s;
              }
              .uil-spin-css > div:nth-of-type(7) {
                -webkit-transform: translate(84px, 84px) rotate(315deg) translate(70px, 0);
                transform: translate(84px, 84px) rotate(315deg) translate(70px, 0);
              }
              .uil-spin-css > div:nth-of-type(8) > div {
                -webkit-animation: uil-spin-css 1s linear infinite;
                animation: uil-spin-css 1s linear infinite;
                -webkit-animation-delay: -0s;
                animation-delay: -0s;
              }
              .uil-spin-css > div:nth-of-type(8) {
                -webkit-transform: translate(84px, 84px) rotate(360deg) translate(70px, 0);
                transform: translate(84px, 84px) rotate(360deg) translate(70px, 0);
              }

            </style>
        </head>

    	<div>
    	    <div class="slds-page-header" role="banner">
                <div class="slds-media slds-media--center">
        	        <div class="slds-media__figure">
                        <svg aria-hidden="true" class="slds-icon slds-icon-standard-groups">
                            <use xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/standard-sprite/svg/symbols.svg#performance')}"></use>
                        </svg>
        	        </div>
        	        <div class="slds-media__body">
        	          <p class="slds-page-header__title slds-truncate" title="Adobe Territory Members">Glovo App</p>
        	          <p class="slds-text-body--small"></p>
        	        </div>
        	       
                </div>
    	    </div>
    	</div>

      <body class="content">

        <apex:form id="formid">
          
          <apex:outputpanel id="mainPanelId">
          
            <apex:outputpanel id="custId" rendered="{!loginCred.isLoginSuccess}">

                <div class="slds-box " style="background-color: #E5E7E9; ">
                  <div class="slds-grid">
                      <div class="slds-col">
                          <div class="slds-media ">
                              <div class="slds-media__body slds-align_absolute-center slds-p-top_large slds-text-heading_large">
                                  
                                      <h1>Your Order Details</h1>
                              </div>
                          </div>

                      </div>
                  </div>

              </div>
              <br/>
              <br/>
              <div class="slds-box slds-box_small slds-text-heading_small" style="background-color: #E5E7E9;"> <b>Customer Details</b></div>
              <br/>
               <div class="slds-grid">
                  <div class="slds-col" style=" width : 600px;">
                      <dl class="slds-list_horizontal slds-wrap">
                          <dt class="slds-item_label slds-text-color_weak  "> &nbsp;&nbsp;Name:</dt>
                          <dd class="slds-item_detail  "> {!customerInfo.custName}</dd>
                          <dt class="slds-item_label slds-text-color_weak  ">&nbsp;&nbsp;Email:</dt>
                          <dd class="slds-item_detail  "> {!customerInfo.custEmail}</dd>
                          
                          <dt class="slds-item_label slds-text-color_weak  ">&nbsp;&nbsp;Phone:</dt>
                          <dd class="slds-item_detail  "> {!customerInfo.custPhone}</dd>
                          <dt class="slds-item_label slds-text-color_weak  ">&nbsp;&nbsp;Address:</dt>
                          <dd class="slds-item_detail " style="word-wrap: break-word; width : 400px;">{!customerInfo.custAddress} </dd>
                      </dl>
                  </div>
                  <div class="slds-col" style=" width : 900px;">
                      <dl class="slds-list_horizontal slds-wrap">
                          <dt class="slds-item_label slds-text-color_weak  ">&nbsp;&nbsp;</dt>
                          <dd class="slds-item_detail  "></dd>
                           
                      </dl>
                  </div>

              </div>

              <br/>
              <br/>
              <div class="slds-box slds-box_small slds-text-heading_small" style="background-color: #E5E7E9;"> <b>Order Details</b></div>
              <br/>

              

              <div class="slds-tabs_default">
                <ul class="slds-tabs_default__nav" role="tablist">
                  <li class="slds-tabs_default__item slds-is-active" title="Item One" role="presentation" id="tab1" onclick="tabChange('tab1');">
                    <a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="0" aria-selected="true" aria-controls="tab-default-1" id="tab-default-1__item">Open Orders</a>
                  </li>
                  <li class="slds-tabs_default__item" title="Item Two" role="presentation" id="tab2" onclick="tabChange('tab2');">
                    <a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-2" id="tab-default-2__item">Past Orders</a>
                  </li>
                </ul>
                <div id="tab-default-1" class="slds-tabs_default__content slds-show" role="tabpanel" aria-labelledby="tab-default-1__item">
                    <apex:repeat value="{!customerInfo.custOrder}" var="orders">
                       <apex:outputpanel rendered="{!orders.isActive}">
                      <div class="demo-only">
                        <div class="slds-page-header slds-page-header_vertical">
                          <div class="slds-media">
                            <div class="slds-media__figure">
                              <span class="slds-icon_container slds-icon-standard-opportunity">
                                <svg class="slds-icon slds-page-header__icon" aria-hidden="true">
                                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#opportunity" />
                                </svg>
                              </span>
                            </div>
                            <div class="slds-media__body">
                              <div class="slds-page-header__name">
                                <div class="slds-page-header__name-title">
                                  <h1>
                                  <span>Order#</span>
                                    <span class="slds-page-header__title" >{!orders.orderNumber}</span>
                                  </h1>
                                </div>
                              </div>
                            </div>
                          </div>

                          <br/>
                          <br/>
                          <apex:outputpanel rendered="{!(CONTAINS(orders.orderStatus,'New'))}">
                           <ol class="progtrckr" data-progtrckr-steps="4">
                              <li class="progtrckr-done">Order Placed</li><!--
                          --><li class="progtrckr-todo">In Transit</li><!--
                          --><li class="progtrckr-todo">Dispatched</li><!--
                          --><li class="progtrckr-todo">Delivered</li>
                          </ol>
                          </apex:outputpanel>
                          <apex:outputpanel rendered="{!(CONTAINS(orders.orderStatus,'In Transit'))}">
                           <ol class="progtrckr" data-progtrckr-steps="4">
                              <li class="progtrckr-done">Order Placed</li><!--
                          --><li class="progtrckr-done">In Transit</li><!--
                          --><li class="progtrckr-todo">Dispatched</li><!--
                          --><li class="progtrckr-todo">Delivered</li>
                          </ol>
                          </apex:outputpanel>
                          <apex:outputpanel rendered="{!(CONTAINS(orders.orderStatus,'Dispatched'))}">
                           <ol class="progtrckr" data-progtrckr-steps="4">
                              <li class="progtrckr-done">Order Placed</li><!--
                          --><li class="progtrckr-done">In Transit</li><!--
                          --><li class="progtrckr-done">Dispatched</li><!--
                          --><li class="progtrckr-todo">Delivered</li>
                          </ol>
                          </apex:outputpanel>
                          <br/>
                          <br/>

                          <table class=" slds-table_resizable-cols" role="grid">
                        
                              <thead>
                                <tr class="slds-line-height_reset">
                                  <th class="slds-text-title_caps" scope="col">
                                    <div class="slds-truncate slds-wrap"  >Shipping Address</div>
                                  </th>
                                  <th class="slds-text-title_caps" scope="col">
                                    <div class="slds-truncate" >Order Date</div>
                                  </th>
                                  <th class="slds-text-title_caps" scope="col">
                                    <div class="slds-truncate" >Order Status</div>
                                  </th>
                                  <th class="slds-text-title_caps" scope="col">
                                    <div class="slds-truncate" >Order Summary</div>
                                  </th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr class="slds-hint-parent">
                                  <td >
                                    <div >{!customerInfo.custName}</div>
                                    <div style="word-wrap: break-word; width : 200px;">{!orders.orderShippingAddress}</div>
                                  </td>
                                  <td >
                                    <div>{!orders.orderPlacedon}</div>
                                  </td>
                                  <td >
                                    <div>{!orders.orderStatus}</div>
                                  </td>
                                  <td >
                                        
                                          <dl class="slds-list_horizontal slds-wrap">
                                              <dt class="slds-item_label ">Item(s) Subtotal:</dt>
                                              <dd class="slds-item_detail  ">${!orders.orderTotal} </dd>
                                              <dt class="slds-item_label">Service Charge (5%):</dt>
                                              <dd class="slds-item_detail  ">${!orders.orderTaxAmount}</dd>
                                              <dt class="slds-item_label ">Grand Total:</dt>
                                              <dd class="slds-item_detail  ">${!orders.orderNetAmount}</dd>
                                          </dl>
                                      
                                  </td>
                                
                                </tr>
                              </tbody>
                            </table>  
                            <br/>      
                            <br/>
                            
                      <table aria-multiselectable="true" class="slds-table slds-table_bordered slds-table_fixed-layout slds-table_resizable-cols" role="grid">
      
                        <thead>
                          <tr class="slds-line-height_reset">
                            <th aria-label="Product" aria-sort="none" class="slds-text-title_caps slds-is-resizable slds-is-sortable" scope="col">
                        
                                <div class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate">
                                  <span class="slds-truncate" title="Product">Product/Service</span>
                                </div>
                            </th>
                            <th aria-label="Quantity" aria-sort="none" class="slds-text-title_caps slds-is-resizable slds-is-sortable" scope="col">
                              
                                <div class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate">
                                  <span class="slds-truncate" title="Quantity">Quantity</span>
                                
                                </div>
                            
                            </th>
                            <th aria-label="Price" aria-sort="none" class="slds-text-title_caps slds-is-resizable slds-is-sortable" scope="col">
                              
                                <div class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate">
                                  <span class="slds-truncate" title="Price">Price</span>
                                  
                                </div>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <br/>
                          <apex:repeat value="{!orders.orderOLIs}" var="oliLst">
                          <tr class="slds-hint-parent slds-align-top">
                            <th scope="row">
                              <div class="slds-media">
                                <div class="slds-media__figure">
                                  <div class="slds-size_xx-small">
                                    <img  src="{!$Resource.prodImage}" title="proditem" />
                                  </div>
                                </div>
                                <div class="slds-media__body">
                                  <div class="slds-truncate" title="proditem"><a href="javascript:void(0);" tabindex="0">{!oliLst.productName}</a></div>
                                  <ul>
                                    <li class="slds-truncate" >Description:
                                      <strong>{!oliLst.productDescription}</strong>
                                    </li>
                                    <li class="slds-truncate" title="Item No.: 1007100">Item No.:
                                      <strong>{!oliLst.productCode}</strong>
                                    </li>
                                  </ul>
                                  <p class="slds-text-color_success">In Stock</p>
                                </div>
                              </div>
                            </th>
                            <td role="gridcell">
                              <p>{!oliLst.quantity}</p>
                            </td>
                      
                            <td role="gridcell">
                              <p>${!oliLst.productUnitPrice}</p>
                            </td>
                          </tr>
                          </apex:repeat>
                        </tbody>
                      </table>
                              
                        </div>
                      </div>
                      </apex:outputpanel>
                      <br/>
                       <br/>
                  </apex:repeat>

                </div>
                <div id="tab-default-2" class="slds-tabs_default__content slds-hide" role="tabpanel" aria-labelledby="tab-default-2__item">
                    <apex:repeat value="{!customerInfo.custOrder}" var="orders">
                       <apex:outputpanel rendered="{!!orders.isActive}">
                      <div class="demo-only">
                        <div class="slds-page-header slds-page-header_vertical">
                          <div class="slds-media">
                            <div class="slds-media__figure">
                              <span class="slds-icon_container slds-icon-standard-opportunity">
                                <svg class="slds-icon slds-page-header__icon" aria-hidden="true">
                                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#opportunity" />
                                </svg>
                              </span>
                            </div>
                            <div class="slds-media__body">
                              <div class="slds-page-header__name">
                                <div class="slds-page-header__name-title">
                                  <h1>
                                  <span>Order#</span>
                                    <span class="slds-page-header__title" >{!orders.orderNumber}</span>
                                  </h1>
                                </div>
                              </div>
                            </div>
                          </div>
                          <br/>
                          <br/>
                          <apex:outputpanel rendered="{!(CONTAINS(orders.orderStatus,'New'))}">
                           <ol class="progtrckr" data-progtrckr-steps="4">
                              <li class="progtrckr-done">Order Placed</li><!--
                          --><li class="progtrckr-todo">In Transit</li><!--
                          --><li class="progtrckr-todo">Dispatched</li><!--
                          --><li class="progtrckr-todo">Delivered</li>
                          </ol>
                          </apex:outputpanel>
                          <apex:outputpanel rendered="{!(CONTAINS(orders.orderStatus,'In Transit'))}">
                           <ol class="progtrckr" data-progtrckr-steps="4">
                              <li class="progtrckr-done">Order Placed</li><!--
                          --><li class="progtrckr-done">In Transit</li><!--
                          --><li class="progtrckr-todo">Dispatched</li><!--
                          --><li class="progtrckr-todo">Delivered</li>
                          </ol>
                          </apex:outputpanel>
                          <apex:outputpanel rendered="{!(CONTAINS(orders.orderStatus,'Dispatched'))}">
                           <ol class="progtrckr" data-progtrckr-steps="4">
                              <li class="progtrckr-done">Order Placed</li><!--
                          --><li class="progtrckr-done">In Transit</li><!--
                          --><li class="progtrckr-done">Dispatched</li><!--
                          --><li class="progtrckr-todo">Delivered</li>
                          </ol>
                          </apex:outputpanel>
                           <apex:outputpanel rendered="{!(CONTAINS(orders.orderStatus,'Delivered'))}">
                           <ol class="progtrckr" data-progtrckr-steps="4">
                              <li class="progtrckr-done">Order Placed</li><!--
                          --><li class="progtrckr-done">In Transit</li><!--
                          --><li class="progtrckr-done">Dispatched</li><!--
                          --><li class="progtrckr-done">Delivered</li>
                          </ol>
                          </apex:outputpanel>
                          <br/>
                          <br/>

                          <table class=" slds-table_resizable-cols" role="grid">
                        
                              <thead>
                                <tr class="slds-line-height_reset">
                                  <th class="slds-text-title_caps" scope="col">
                                    <div class="slds-truncate slds-wrap"  >Shipping Address</div>
                                  </th>
                                  <th class="slds-text-title_caps" scope="col">
                                    <div class="slds-truncate" >Order Date</div>
                                  </th>
                                  <th class="slds-text-title_caps" scope="col">
                                    <div class="slds-truncate" >Order Status</div>
                                  </th>
                                  <th class="slds-text-title_caps" scope="col">
                                    <div class="slds-truncate" >Order Summary</div>
                                  </th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr class="slds-hint-parent">
                                  <td >
                                    <div >{!customerInfo.custName}</div>
                                    <div style="word-wrap: break-word; width : 200px;">{!orders.orderShippingAddress}</div>
                                  </td>
                                  <td >
                                    <div>{!orders.orderPlacedon}</div>
                                  </td>
                                  <td >
                                    <div>{!orders.orderStatus}</div>
                                  </td>
                                  <td >
                                        
                                          <dl class="slds-list_horizontal slds-wrap">
                                              <dt class="slds-item_label ">Item(s) Subtotal:</dt>
                                              <dd class="slds-item_detail  ">${!orders.orderTotal} </dd>
                                              <dt class="slds-item_label">Service Charge (5%):</dt>
                                              <dd class="slds-item_detail  ">${!orders.orderTaxAmount}</dd>
                                              <dt class="slds-item_label ">Grand Total:</dt>
                                              <dd class="slds-item_detail  ">${!orders.orderNetAmount}</dd>
                                          </dl>
                                      
                                  </td>
                                
                                </tr>
                              </tbody>
                            </table>  
                            <br/>      
                            <br/>
                            
                      <table aria-multiselectable="true" class="slds-table slds-table_bordered slds-table_fixed-layout slds-table_resizable-cols" role="grid">
      
                        <thead>
                          <tr class="slds-line-height_reset">
                            <th aria-label="Product" aria-sort="none" class="slds-text-title_caps slds-is-resizable slds-is-sortable" scope="col">
                        
                                <div class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate">
                                  <span class="slds-truncate" title="Product">Product/Service</span>
                                </div>
                            </th>
                            <th aria-label="Quantity" aria-sort="none" class="slds-text-title_caps slds-is-resizable slds-is-sortable" scope="col">
                              
                                <div class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate">
                                  <span class="slds-truncate" title="Quantity">Quantity</span>
                                
                                </div>
                            
                            </th>
                            <th aria-label="Price" aria-sort="none" class="slds-text-title_caps slds-is-resizable slds-is-sortable" scope="col">
                              
                                <div class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate">
                                  <span class="slds-truncate" title="Price">Price</span>
                                  
                                </div>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <br/>
                          <apex:repeat value="{!orders.orderOLIs}" var="oliLst">
                          <tr class="slds-hint-parent slds-align-top">
                            <th scope="row">
                              <div class="slds-media">
                                <div class="slds-media__figure">
                                  <div class="slds-size_xx-small">
                                    <img  src="{!$Resource.prodImage}" title="proditem" />
                                  </div>
                                </div>
                                <div class="slds-media__body">
                                  <div class="slds-truncate" title="proditem"><a href="javascript:void(0);" tabindex="0">{!oliLst.productName}</a></div>
                                  <ul>
                                    <li class="slds-truncate" >Description:
                                      <strong>{!oliLst.productDescription}</strong>
                                    </li>
                                    <li class="slds-truncate" title="Item No.: 1007100">Item No.:
                                      <strong>{!oliLst.productCode}</strong>
                                    </li>
                                  </ul>
                                  <p class="slds-text-color_success">In Stock</p>
                                </div>
                              </div>
                            </th>
                            <td role="gridcell">
                              <p>{!oliLst.quantity}</p>
                            </td>
                      
                            <td role="gridcell">
                              <p>${!oliLst.productUnitPrice}</p>
                            </td>
                          </tr>
                          </apex:repeat>
                        </tbody>
                      </table>
                              
                        </div>
                      </div>
                      </apex:outputpanel>
                      <br/>
                       <br/>
                  </apex:repeat>
                </div>
              </div>
              
            </apex:outputpanel>

            <apex:outputpanel id="signInPanelId" rendered="{!!loginCred.isLoginSuccess}">
              <apex:outputpanel id="statusPenalid">
                  <apex:actionstatus id="actStatusId">
                    <apex:facet name="start">
                        <div id="LoadingImage" align="center">
                    
                          <div class='uil-spin-css' style='-webkit-transform:scale(0.6)'><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div></div>

                        </div>
                    </apex:facet>
              </apex:actionstatus>
            </apex:outputpanel>
            <div align="center">
               
              
              <div style="padding-top: 2rem; position: relative; width:300px">

              <apex:outputpanel id="Errorsid" rendered="{!IF(ISNULL(LoginerrorMessage), false , true)}">
              <div class="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_error" role="alert">
                <h2>{!LoginerrorMessage}
                  <!--<apex:pageMessages  id="Errorsid"/>-->
                </h2>
              </div>
            </apex:outputpanel>
                <div class="slds-form-element" align="left">
                  <label class="slds-form-element__label" for="text-input-id-1">
                    <abbr class="slds-required" title="required">* </abbr>User Id</label>
                  <div class="slds-form-element__control">
                    <input id="text-input-id-1" class="slds-input" type="test" value="{!loginCred.loginId}" />
                    <div id="text-input-id-1_Error" class="slds-text-color_error slds-hide">email id is required</div>
                  </div>
                </div>
                <div class="slds-form-element" align="left">
                  <label class="slds-form-element__label" for="text-input-id-2">
                    <abbr class="slds-required" title="required">* </abbr>Password</label>
                  <div class="slds-form-element__control">
                    <input id="text-input-id-2" class="slds-input" type="password" value="{!loginCred.loginPwd}" />
                    <div id="text-input-id-2_Error" class="slds-text-color_error slds-hide">password is required</div>
                  </div>
                </div>
                <br/><br/>
                <div align="center" id="btnDivId">
                  <button id="downloadBtn" class="slds-button slds-button_brand" type="button" onclick="redirectafterSignInFun();">Login</button>
                    <br/><br/>
                </div>
              </div>
            </div>
            
          </apex:outputpanel>
        </apex:outputpanel>
        <apex:actionFunction action="{!redirectafterSignIn}" rerender="mainPanelId" name="redirectafterSignIn" status="actStatusId">
        <apex:param id="emailid" name="input1" value="" />
        <apex:param id="pwdid" name="input2" value="" />
        </apex:actionFunction>
        </apex:form>

    </body>

      <script>
           
          function redirectafterSignInFun(){ 
            var e = document.getElementById("text-input-id-1").value;
             var p = document.getElementById("text-input-id-2").value;
             var loginErr1 = document.getElementById("text-input-id-1_Error").classList;
            var loginErr2 = document.getElementById("text-input-id-2_Error").classList;

             if(document.getElementById("text-input-id-1").value ==='' && document.getElementById("text-input-id-2").value ===''){
                  loginErr1.add("slds-show");
                  loginErr1.remove("slds-hide");
                  loginErr2.add("slds-show");
                  loginErr2.remove("slds-hide");
             }else if(document.getElementById("text-input-id-1").value ==='' && document.getElementById("text-input-id-2").value !=''){
                  loginErr1.add("slds-show");
                  loginErr1.remove("slds-hide");
                  loginErr2.add("slds-hide");
               loginErr2.remove("slds-show");
             }else if(document.getElementById("text-input-id-2").value ==='' && document.getElementById("text-input-id-1").value !=''){
               loginErr2.add("slds-show");
               loginErr2.remove("slds-hide");
               loginErr1.add("slds-hide");
                  loginErr1.remove("slds-show");
             }else{
                redirectafterSignIn(e,p);
             }
            
             
            
         }

         function tabChange(id) {
          var myButtonClasses1 = document.getElementById("tab1").classList;
          var myButtonClasses2 = document.getElementById("tab2").classList;
          var divClasses1 = document.getElementById("tab-default-1").classList;
          var divClasses2 = document.getElementById("tab-default-2").classList;
          if ( id === 'tab1') {
            myButtonClasses1.add("slds-is-active");
            myButtonClasses2.remove("slds-is-active");
            divClasses1.add("slds-show");
            divClasses1.remove("slds-hide");
            divClasses2.add("slds-hide");
            divClasses2.remove("slds-show");
          } else {
            myButtonClasses2.add("slds-is-active");
            myButtonClasses1.remove("slds-is-active");
            divClasses1.add("slds-hide");
            divClasses1.remove("slds-show");
            divClasses2.add("slds-show");
            divClasses2.remove("slds-hide");
            
          }
        }
          
      </script>

     </html>
</apex:page>